@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap");
/*--- BODY ---*/
/* line 6, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
body {
  font-family: "Roboto Mono";
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

/* --- NAV --- */
/* line 15, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.nav {
  background-color: #000000;
  display: flex;
  justify-content: space-evenly;
}

/* line 19, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.nav a {
  color: #f9f9f9;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
}

/* line 26, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.nav-link:hover {
  text-decoration: line-through;
  color: #f9f9f9;
}

/* --- TITULO --- */
/* line 33, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.principal {
  margin: auto;
  padding: 200px 200px 20px 200px;
  display: block;
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
}

/* line 41, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.principalTitulo {
  font-size: 55px;
}

/* line 44, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.subtitulo {
  font-size: 1.5rem;
  font-style: bold;
}

/* line 48, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.subtitulo2 {
  padding: 1rem 100px;
  padding-bottom: 200px;
  font-weight: 600;
  text-align: center;
}

/* line 54, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.subtitulo2contacto {
  padding: 1rem 100px;
  font-weight: 600;
  text-align: center;
}

/* line 59, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.titulo {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 30px;
  font-weight: 600;
  letter-spacing: 3px;
}

/*--- Galeria --- */
/* line 68, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.carousel-inner {
  border: 2px solid black;
}

/*--- FOOTER --- */
/* line 73, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.footer {
  padding: 2rem;
  display: block;
  text-align: center;
  font-weight: 600;
  letter-spacing: 3px;
  color: #f9f9f9;
  background-color: #000000;
}

/*--- formulario ---*/
/* line 84, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.contenedor {
  width: 400px;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
}

/* line 90, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.contenedor form input {
  display: flex;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
}

/* line 97, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.control {
  width: 100%;
  padding: 10px;
}

/* line 101, ../CURSO DESARROLLO WEB/Entregas trabajo final/Cuarta Entrega trabajo final 12-7-21/scss/_main.scss */
.boton {
  text-align: center;
  padding: 10px;
}

/*# sourceMappingURL=estilos.css.map */